<a href="https://colab.research.google.com/github/PathumSandeepa/Google-Colab---DataScience-stage-01-final/blob/main/Stage%20001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
import nltk
import string
import re

In [68]:
df = pd.read_csv("Tweets.csv",encoding="latin-1")

In [69]:
df.head(5)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [70]:
df = df[[ "airline_sentiment" ,  "text" ]]

In [71]:
df.shape

(14640, 2)

In [72]:
import nltk
import string
import re

In [73]:
from nltk.stem.porter import PorterStemmer

In [74]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [75]:
nltk.download('punkt')
ps = PorterStemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [76]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'http.?://[^\s]+[\s]?', '', text)
    text = nltk.word_tokenize(text)

    y=[]
    for i in text:
      if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
    text = y[:]
    y.clear()
    for i in text:
        y.append(ps.stem(i))
    return" ".join(y)

In [77]:
df['text_cleaned'] = df['text'].apply(clean_text)

In [78]:
df.head(5)

,airline_sentiment,text,text_cleaned
0,neutral,@VirginAmerica What @dhepburn said.,virginamerica dhepburn said
1,positive,@VirginAmerica plus you've added commercials t...,virginamerica plu 've ad commerci experi ... t...
2,neutral,@VirginAmerica I didn't today... Must mean I n...,virginamerica n't today ... must mean need tak...
3,negative,@VirginAmerica it's really aggressive to blast...,virginamerica 's realli aggress blast obnoxi `...
4,negative,@VirginAmerica and it's a really big bad thing...,virginamerica 's realli big bad thing

In [79]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [80]:
tf_vec = TfidfVectorizer(max_features=3000)
X=tf_vec.fit_transform(df['text_cleaned']).toarray()

In [81]:
X.shape

(14640, 3000)

In [82]:
Y = df['airline_sentiment'].values

## **Train**

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier


X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [84]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [88]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.7219945355191257